@page "/releasesNew"
@if (releaseList != null)
{
    @* <div class="row mt-5"> *@
        @* @foreach (var musicInfoItem in releaseList.musicList) *@
        @*  { *@
        @*      <div class="col-md-6 col-sm-6"> *@
        @*          <div class="vertical-item slide-media text-center loop-color"> *@
        @*              <div class="item-media-wrap"> *@
        @*                  <img src="assets/img/cd.png" alt=""> *@
        @*                  <div class="item-media back-media"> *@
        @*                      <img src="assets/img/cd.png" alt="" width="100%" height="90%"> *@
        @*                  </div> *@
        @*                  <div class="item-media"> *@
        @*                      <img src="@musicInfoItem.Cover" loading="lazy" alt="…" width="100%"> *@
        @*                      <div class="media-links no-overlay"> *@
        @*                          <div class="links-wrap"> *@
        @*                              <a href="javascript:void(0);" class="p-link" @onclick="GoTo"> *@
        @*                                  <i class="fa-sharp fa-regular fa-magnifying-glass"></i> *@
        @*                              </a> *@
        @*                          </div> *@
        @*                          <div class="bottom-links"> *@
        @*                              <a href="https://play.google.com/store/music" target="blank"> *@
        @*                                  <img src="assets/img/google-play.png" alt=""> *@
        @*                              </a> *@
        @*                              <a href="https://itunes.apple.com/us/genre/music" target="blank"> *@
        @*                                  <img src="assets/img/app-store.png" alt=""> *@
        @*                              </a> *@
        @*                          </div> *@
        @*                      </div> *@
        @*                  </div> *@
        @*              </div> *@
        @*              <div class="item-content topmargin_25 pb-4"> *@
        @*                  <div class="star-rating"> *@
        @*                      <span> *@
        @*                          <strong class="rating">@musicInfoItem.Artists</strong> *@
        @*                      </span> *@
        @*                  </div> *@
        @*                  <h4 class="entry-title topmargin_5"> *@
        @*                      <a href="javascript:void(0)">"@musicInfoItem.Name"</a> *@
        @*                  </h4> *@
        @*              </div> *@
        @*          </div> *@
        @*      </div> *@
        @*  } *@
        <div style="height:500px;overflow-y:scroll" >
            <Virtualize Items="@releaseList" Context="musicInfoItem">
                <div class="col-md-6 col-sm-6">
                    <div class="vertical-item slide-media text-center loop-color">
                        <div class="item-media-wrap">
                            <img src="assets/img/cd.png" alt="">
                            <div class="item-media back-media">
                                <img src="assets/img/cd.png" alt="" width="100%" height="90%">
                            </div>
                            <div class="item-media">
                                <img src="@musicInfoItem.Cover" loading="lazy" alt="…" width="100%">
                                <div class="media-links no-overlay">
                                    <div class="links-wrap">
                                        <a href="javascript:void(0);" class="p-link" @onclick="GoTo">
                                            <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
                                        </a>
                                    </div>
                                    <div class="bottom-links">
                                        <a href="https://play.google.com/store/music" target="blank">
                                            <img src="assets/img/google-play.png" alt="">
                                        </a>
                                        <a href="https://itunes.apple.com/us/genre/music" target="blank">
                                            <img src="assets/img/app-store.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content topmargin_25 pb-4">
                            <div class="star-rating">
                                <span>
                                    <strong class="rating">@musicInfoItem.Artists</strong>
                                </span>
                            </div>
                            <h4 class="entry-title topmargin_5">
                                <a href="javascript:void(0)">"@musicInfoItem.Name"</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </Virtualize>
        </div>
    // </div>
    @* if (releaseList != null) *@
    @* { *@
    @*     <div class="text-center"> *@
    @*         <MudPagination SelectedChanged="PageChanged" *@
    @*                        ShowFirstButton="true" ShowLastButton="true" Count="releaseList.totalPage" Class="mt-4" /> *@
    @*     </div> *@
    @* } *@
}

@code {
    // private MusicReleasePaginationModel releaseList = new();
    private List<MusicInfoModel> releaseList = new();

    protected override void OnInitialized()
    {
        // releaseList = MusicService.releaseListPagination();
        releaseList = MusicService.LocalPlaylist;
    }

    void GoTo()
    {
        nav.NavigateTo("/");
    }

    // void PageChanged(int pageNo)
    // {
    //     var result = MusicService.releaseListPagination(pageNo, 4);
    //     result ??= new();
    //     releaseList = result;
    // }

}